{% extends 'shared/_MainLayout.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container">
        <hr>
        <h3 class="text-center text-success" id="main-title">Chat Application</h3>
        <h5 class="text-center text-danger">Welcome To programmers Room</h5>
        <hr>
    </div>
    <div class="container">
        <a class="btn btn-danger text-light" href="{% url 'chat:home-view' %}">Go Back <i
                class="fa fa-backward"></i></a>
        <hr>
    </div>
    <div id="main" class="container shadow p-3">
        <div id="chat-box" class="p-3">
            <div>
                <h5 class="text-center">Room: {{ room.room_name }}</h5>
                <hr>
            </div>
            <div class="alert alert-success pull-left" role="alert">
                <h6><b>jack</b></h6>
                <p>Hello!</p>
                <span>20th Ag.13:10</span>
            </div>
            <div class="alert alert-secondary pull-right" role="alert">
                <h6><b>albert</b></h6>
                <p>Hi ...</p>
                <span>20th Ag.13:10</span>
            </div>
            <div class="alert alert-success pull-left" role="alert">
                <h6><b>jack</b></h6>
                <p>Whats's up</p>
                <span>20th Ag.13:10</span>
            </div>
            <div class="alert alert-secondary pull-right" role="alert">
                <h6><b>albert</b></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis, facilis adipisci totam eius optio
                    officia, non ullam</p>
                <span class="time-left">20th Ag.13:10</span>
            </div>
            <div class="alert alert-secondary pull-right" role="alert">
                <h6><b>albert</b></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis, facilis adipisci totam eius optio
                    officia, non ullam</p>
                <span>20th Ag.13:10</span>
            </div>
            <div class="alert alert-secondary pull-right" role="alert">
                <h6><b>albert</b></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis fugiat natus ullam sunt fugit
                    perferendis nostrum reprehenderit. Nostrum ipsum similique quis nisi repellendus incidunt eos,
                    corrupti
                    quo perspiciatis odit assumenda.F</p>
                <span>20th Ag.13:10</span>
            </div>
            <div class="alert alert-success pull-left" role="alert">
                <h6><b>jack</b></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ea placeat distinctio veritatis
                    explicabo
                    suscipit laboriosam id ipsam adipisci fugiat, accusantium excepturi error. Odit laborum voluptas,
                    dolorem aut odio enim corporis officiis quasi quidem perspiciatis quam quis sapiente vel, ipsum
                    molestiae natus dolor, nulla deserunt maiores temporibus atque iste sint?</p>
                <span>20th Ag.13:10</span>
            </div>

        </div>
        <div class="input-group mb-3 mt-2 pr-2 pl-2" id="input-box">
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                   aria-describedby="button-addon1">
            <div class="input-group-prepend">
                <button class="btn btn-success" type="submit" id="button-addon1"><i class="fa fa-send"></i></button>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <p class="text-center">chat application with django</p>
        <hr>
    </div>
{% endblock %}