{% extends 'shared/_MainLayout.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container">
        <hr>
        <h3 class="text-center text-success" id="main-title">Chat Application</h3>
        <h5 class="text-center text-danger">Welcome To programmers Room</h5>
        <hr>
    </div>
    <div class="container">
        <a class="btn btn-danger text-light" href="{% url 'chat:home-view' %}">Go Back <i
                class="fa fa-backward"></i></a>
        <hr>
    </div>
    <div id="main" class="container shadow p-3">
        <div id="chat-box" class="p-3">
            <div>
                <h5 class="text-center">Room: {{ room.room_name }}</h5>
                <hr>
            </div>
            {% for msg in messages %}
                <div class="alert {% if msg.owner.username == username %} alert-light pull-right {% else %} alert-success pull-left{% endif %}"
                     role="alert">
                    <h6><b>{{ msg.owner.username }}</b></h6>
                    <p>{{ msg.message_text }}</p>
                    <span>{{ msg.date_added|date:'D:m:Y - h:i a' }}</span>
                </div>
            {% endfor %}

        </div>
        <div class="input-group mb-3 mt-2 pr-2 pl-2" id="input-box">
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                   aria-describedby="button-addon1">
            <div class="input-group-prepend">
                <button class="btn btn-success" type="submit" id="button-addon1"><i class="fa fa-send"></i></button>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <p class="text-center">chat application with django</p>
        <hr>
    </div>
{% endblock %}