::selection {
    background-color: tomato;
    color: aliceblue;
}

#main-title {
    animation: TitleShadow 2s ease infinite;
}

#main {
    height: 450px;
    border-radius: 30px;
    background-color: tomato;
}
#main h6{
    font-size: 30%;
    color: black;
    font-weight: 3px;
}
#main span{
     font-size: 30%;
     color: black;
     font-weight: 3px;
}

#chat-box {
    height: 90%;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(217, 210, 217);
    border-radius: 30px;
    overflow: auto;
}
#input-box{
    margin: 0 auto;
    width: 80%;
}
#input-box button {
    border-radius: 100px;
}
#input-box input {
    border-radius: 7px;
}
.alert{
    width: 60%;
    text-align: justify;
    border-radius: 15px;
}

@keyframes TitleShadow {
    50% {
        text-shadow: 0px 0px 30px green;
    }
}