{% extends 'shared/_MainLayout.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container">
        <hr>
        <h3 class="text-center text-success" id="main-title">Register</h3>
        <hr>
    </div>
    <div class="container">
        <a href="{% url 'chat:home-view' %}" class="btn btn-secondary">Home <i class="fa fa-home icon"></i></a>
        <a href="{% url 'account:login-user' %}" class="btn btn-info">Login <i class="fa fa-sign-in"></i></a>
        <hr>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for err in form.username.errors %}
                        <p class=" text-danger">{{ err }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="">Username:</label>
                        {{ form.username }}
                        {#<input type="text" class="form-control" id="" aria-describedby="emailHelp">#}
                    </div>
                    {% for err in form.email.errors %}
                        <p class=" text-danger">{{ err }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="">Email:</label>
                        {{ form.email }}
                        {#<input type="email" class="form-control" id="" aria-describedby="emailHelp">#}
                    </div>
                    {% for err in form.re_password.errors %}
                        <p class=" text-danger">{{ err }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="">Password:</label>
                        {{ form.password }}
                        {#<input type="password" class="form-control" id="" aria-describedby="emailHelp">#}
                    </div>
                    <div class="form-group">
                        <label for="">re-Password:</label>
                        {{ form.re_password }}
                        {#<input type="password" class="form-control" id="" aria-describedby="emailHelp">#}
                    </div>
                    <button class="btn btn-block btn-warning" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <hr>
    </div>
{% endblock %}